body {
    overflow-x: hidden;
}



/*Border bottom anim*/

.nav-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
/*transition: width .3s;*/
}

.navigation-clean {
    background:#fff;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#333;
    border-radius:0;
    box-shadow:none;
    border:none;
    margin-bottom:0;
}
.nav-item {
    font-size: 20px;
}
.navbar-light {
    padding:10px;margin-top:18px;
}

.navigation-clean .navbar-brand {
    font-weight:bold;
    color:inherit;
}

.navigation-clean .navbar-brand:hover {
    color:#222;
}

.navigation-clean .navbar-toggler {
    border-color:#ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
    background:none;
}

.navigation-clean .navbar-toggler {
    color:#888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
    border-top-color:#ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
    color:#8f8f8f;
    box-shadow:none;
    background:none;
    pointer-events:none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
    padding-left:18px;
    padding-right:18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
    color:#465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
    color:#37434d !important;
    background-color:transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:none;
    background-color:#fff;
    border-radius:2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
    line-height:2;
    color:#37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
    background:#eee;
    color:inherit;
}

@media (min-width:768px) {
    .navigation-clean {
        padding-top:1rem;
        padding-bottom:1rem;
    }
}



/*Contact Form*/


.contact-clean {
    background:#f1f7fc;
    padding:80px 0;
}

.contact-clean form {
    max-width:480px;
    width:90%;
    margin:0 auto;
    background-color:#ffffff;
    padding:40px;
    border-radius:4px;
    color:#505e6c;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.contact-clean h2 {
    margin-top:5px;
    font-weight:bold;
    font-size:28px;
    margin-bottom:36px;
    color:inherit;
}

.contact-clean .form-group:last-child {
    margin-bottom:5px;
}

.contact-clean form .form-control {
    background:#fff;
    border-radius:2px;
    box-shadow:1px 1px 1px rgba(0,0,0,0.05);
    outline:none;
    color:inherit;
    padding-left:12px;
    height:42px;
}

.contact-clean form .form-control:focus {
    border:1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
    min-height:100px;
    max-height:260px;
    padding-top:10px;
    resize:vertical;
}

.contact-clean form .btn {
    padding:16px 32px;
    border:none;
    background:none;
    box-shadow:none;
    text-shadow:none;
    opacity:0.9;
    text-transform:uppercase;
    font-weight:bold;
    font-size:13px;
    letter-spacing:0.4px;
    line-height:1;
    outline:none !important;
}

.contact-clean form .btn:hover {
    opacity:1;
}

.contact-clean form .btn:active {
    transform:translateY(1px);
}

.contact-clean form .btn-primary {
    background-color:#055ada !important;
    margin-top:15px;
    color:#fff;
}

@media (max-width:767px) {
    .contact-clean form {
        padding:30px;
    }
}

@media (max-width:767px) {
    .contact-clean {
        padding:20px 0;
    }
}


/* Header Dark*/


.header-dark {
    background:url(../img/mountain_bg.jpg) #444;
    background-size:cover;
    padding-bottom:80px;
    height:600px;
}

.header-dark .row {
    margin:39px;
}

@media (min-width:768px) {
    .header-dark {
        padding-bottom:120px;
    }
}

.header-dark .navbar {
    background:transparent;
    padding-top:0;
    padding-bottom:0;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
}

@media (min-width:768px) {
    .header-dark .navbar {
        padding-top:.75rem;
        padding-bottom:.75rem;
    }
}

.header-dark .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
}

.header-dark .navbar .navbar-brand:hover {
    color:#f0f0f0;
}

.header-dark .navbar .navbar-collapse span {
    margin-top:5px;
}

.header-dark .navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
}

.header-dark .navbar .navbar-collapse span .login:hover {
    color:#fff;
}

.header-dark .navbar .navbar-toggler {
    border-color:#747474;
}

.header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
    background:none;
}

.header-dark .navbar .navbar-toggler {
    color:#eee;
}

.header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
    border-color:#636363;
}

@media (min-width: 992px) {
    .header-dark .navbar.navbar .navbar-nav .nav-link {
        padding-left:1.2rem;
        padding-right:1.2rem;
    }
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
    color:#d9d9d9;
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
    color:#fcfeff !important;
    background-color:transparent;
}

.header-dark .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    font-size:14px;
    color:#37434d;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
    background:#ebeff1;
}

.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
    background:#208f8f;
    border-radius:20px;
    font-size:inherit;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
}

.header-dark .navbar .action-button:hover {
    background:#269d9d;
}

.header-dark .navbar .form-inline label {
    color:#ccc;
}

.header-dark .navbar .form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
}

.header-dark .navbar .form-inline .search-field:focus {
    border-bottom:1px solid #ccc;
}

.header-dark .hero {
    margin-top:60px;
}

@media (min-width:768px) {
    .header-dark .hero {
        margin-top:20px;
    }
}

.header-dark .hero h1 {
    color:#fff;
    font-family:'Bitter', serif;
    font-size:40px;
    margin-top:20px;
    margin-bottom:80px;
}

@media (min-width:768px) {
    .header-dark .hero h1 {
        margin-bottom:50px;
        line-height:1.5;
    }
}

.header-dark .hero .embed-responsive iframe {
    background-color:#666;
}

/* Socials icons*/

.social-icons {
    text-align:center;
    padding:0px;
    margin:0px;
    margin-top:20px;
    margin-bottom:20px;
}
.social-icons i{
    font-size:100px;
}
.ion-social-css3 {
    padding: 35px;
}
.fa-css3-alt {
    padding: 35px;
}
.ion-social-sass {
    padding:35px;
}
.fa-react {
    padding-left:35px;
}

/*About me*/

.about-me {
    background-color:rgba(0,0,0,0.81);
    color:rgb(254,254,254);
}
.about-me h2{
    font-weight:bold;
    margin-top:40px;
}
.about-me p{
    margin-top:80px;
    margin-bottom:80px;
}


/*Projects*/

.projects-size {
    margin-top:10px;
    padding-top:25px;
    padding-bottom:40px;
}
.projects-size img {
    max-width:100%;
    height:auto;
}

.technology {
    font-weight:bold;
    margin-top:29px;
}

.projects-horizontal {
    color:#313437;
    background-color:#fff;
}

.projects-horizontal p {
    color:#7d8285;
}

.projects-horizontal h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
}

@media (max-width:767px) {
    .projects-horizontal h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px;
    }
}

.projects-horizontal .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 10px;
}

.projects-horizontal .projects {
    padding-bottom:40px;
}

.projects-horizontal .item {
    padding-top:60px;
    min-height:160px;
}

@media (max-width:767px) {
    .projects-horizontal .item {
        padding-top:40px;
        min-height:160px;
    }
}

.projects-horizontal .item .name {
    font-size:18px;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:15px;
    color:inherit;
}

@media (max-width:991px) {
    .projects-horizontal .item .name {
        margin-top:22px;
    }
}

.projects-horizontal .item .description {
    font-size:15px;
    margin-bottom:0;
}

/*Contact*/

.contact-form {
    background-color:rgba(0,0,0,0.81);
    color:rgb(255,255,255);
}
.contact-margins {
    margin-top:50px;
    margin-bottom:50px;
}
.fa-star {
    font-size:8px;
    color:rgb(242,0,0);
    margin-top:16px;
}
.contact-margins p{
    margin-top: 8px;
}

#contact h2 {
    font-family:'Raleway';
    font-size:36px;
    font-weight:600;
    text-align:center;
    margin-top:40px;
    margin-bottom:20px;
    text-transform:uppercase;
    color:#fff;
}

#contact p {
    font-family:'Raleway';
    font-size:16px;
    line-height:23px;
    color:#7d8285;
    text-align:center;
}

label.control-label {
    font-family:'Raleway';
    color:#f3f3f3;
    font-weight:700;
}

.form-control {
    border-radius:0px;
    background-color:#f3f3f3;
    font-family:'Raleway';
}

button.btn.btn-success.btn-send {
    background-color:#6e9a76;
    border-color:#6e9a76;
    width:100px;
    margin-bottom:10px;
}

div#contact {
    background-color:#313131;
}

#contact .intro {
    max-width:500px;
    margin:0 auto 40px;
}

.more-info {
    margin-top:50px;
    margin-bottom:50px;
}

.more-info p {
    font-size:20px;
}

.more-info h2 {
    margin-top:50px;
}
.more-info i {
    font-size:25px;
    margin-left:10px;
    color:rgb(244,67,54);
}

/*Footer*/

.footer-basic p {
    font-size:20px;
    margin-top:15px;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}


/*Technology*/


@-webkit-keyframes hvr-icon-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }

    33.3% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes hvr-icon-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }

    33.3% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.hvr-icon-wobble-vertical {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-wobble-vertical:hover:before, .hvr-icon-wobble-vertical:focus:before, .hvr-icon-wobble-vertical:active:before {
    -webkit-animation-name: hvr-icon-wobble-vertical;
    animation-name: hvr-icon-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
